input[type=text],input[type=number],textarea{
    width: 20vmax;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid #808080;
    border-radius: 20px;
    
    
  /* background-color: rgb(1, 5, 7);  
     color: white */
  }
 

textarea:focus,input[type=text]:focus, input[type=number]:focus {
    /*background-color: lightblue;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
    outline-color: aqua;
    outline-style: inherit;*/
    outline: none;
    border: solid 1px #555;
    background-color: #eed;
    box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
    -o-box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
    
  }

body{
    font-size: 17px;
  }

#label{
    font-family:serif;
    font-size:22px;
    width:13vmax;
    color:rgb(19, 3, 3);
    background-color: rgba(248, 224, 144, 0.938);
  }

.studBorder{
  /*border-style: groove;
  border-color:pink;
  border-width: 25px;
  background-color: #d1e7f4;*/

  padding: 0px 6px 6px 0px;
  /* #d1e7f4 background-color:pink;  */
  background-color:grey;
  border-top-style:ridge;
 
  border-style:outset;
  border-top-width: 20px;
  border-bottom-width: 20px;
  border-right-width: 30px;
  border-left-width: 30px;

  border-top-color: rgb(16, 180, 180);
  border-bottom-color: aqua;
  border-left-color: rgb(212, 123, 20);
  border-right-color: rgb(212, 123, 20);
  /*position: absolute;*/
    
  }

.custom {
    width: 300px;
    border-radius: 80px;
    border-style: ridge;
}

table,td{
  border-collapse: collapse;
  /*margin: 0 auto;
  border: 1px solid black;*/
}
  

select,select:focus {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */

  text-transform: none;
  width: 20vmax;
  height: 40px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; 
  margin-bottom: 0.5rem; 
}

button{
    display: inline-block;
    height: 38px;
    width: 10vmax;
    /*padding: 0px 30px;*/
    color: rgb(185, 55, 55);
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box; }
  .button:hover,
  button:hover,
  input[type="button_updt"]:hover,
  .button:focus,
  button:focus,
  input[type="button_updt"]:focus {
    color: rgb(100, 129, 209);
    border-color: #888;
    outline: 0; }
  .button.button-primary,
  button.button-primary,
  input[type="button_updt"].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0; }
  .button.button-primary:hover,
  button.button-primary:hover,
  input[type="button_updt"].button-primary:hover,
  .button.button-primary:focus,
  button.button-primary:focus,
  input[type="button_updt"].button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB; }